* {
    box-sizing: border-box;
}

input:focus {
    outline: none
}

#container {
    position: relative;
    width: 1080px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login_container {
    position: absolute;
    left: calc(50% - 310px);
    top: calc(50% - 200px);
    width: 620px;
    height: 400px;
    margin: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);;
    display: flex;
}

#login_contianer_left {
    width: 310px;
    height: 400px;
    background-image: url(../img/login_left.PNG);
    background-size: cover;
    border-right: 0.5px solid rgba(0, 0, 0, 0.25);
}

#login_container_right {
    width: 310px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 60px 70px;
}

#login_text {
    font-size: 32px;
    font-weight: bold;
    color: #46465E;
    margin-bottom: 30px;
}

#user_id {
    border: none;
    border-bottom: 1px solid black;
    height: 24px;
    margin-bottom: 20px;
}

#user_pw {
    border: none;
    border-bottom: 1px solid black;
    height: 24px;
    margin-bottom: 20px;
}

#user_pw_check {
    border: none;
    border-bottom: 1px solid black;
    height: 24px;
    margin-bottom: 10px;
}

#login_btn {
    width: 70%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #FD6767;
    background-color: #FD6767;
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
}

#text {
    font-size: 11px;
}

#text a {
    font-size: 14px;
    color: #67d9fd;
    font-weight: bold;
    text-decoration: none;
}

#incorrect {
    display: none;
    margin-bottom: 10px;
    color: red;
    height: 20px;
}

#correct {
    display: none;
    color: green;
    margin-bottom: 10px;
}