<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookShop</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
<div id="container">
    <div id="navigation">
        <div id="spare_div"></div>
        <div id="middle_container"><a href=""><span>Book</span>Shop</a></div>
        <div id="right_container">
            <button id="sell_btn">책 팔기</button>
            <button id="login_btn">로그인</button>
        </div>
    </div>
    <div id="main_container">
        <div id="main_container_text">For you</div>
        <div id="main_container_show">
            <div id="book_img"><img src="../img/book1.png" alt=""></div>
            <div id="book_description">
                <div id="book_title"><span>혼</span>자 <span>공</span>부하는 자바<span>스크립트</span></div>
                <div id="book_author">
                    <div>저자</div>
                    윤인성
                </div>
                <div id="book_field">
                    <div>분류</div>
                    IT 인터넷교육
                </div>
                <div id="book_star">
                    <div>평점</div>
                    <img src="../img/stars.png" alt=""></div>
                <div id="book_price">
                    <div>가격</div>
                    24,000원
                </div>
                <button id="book_sell">구매하기</button>

            </div>
        </div>
    </div>
    <div id="inline"></div>
    <div id="book_list_container">
        <div class="book_box">
            <div class="book_box_img"><a href=""><img src="../img/book2.png" alt=""></a></div>
            <div class="book_box_description">
                <div class="book_box_title">이것이 C#이다</div>
                <div class="book_box_price">35,000원</span></div>
            </div>
        </div>
        <div class="book_box">
            <div class="book_box_img"><a href=""><img src="../img/book2.png" alt=""></a></div>
            <div class="book_box_description">
                <div class="book_box_title">이것이 C#이다</div>
                <div class="book_box_price">35,000원</span></div>
            </div>
        </div>
        <div class="book_box">
            <div class="book_box_img"><a href=""><img src="../img/book2.png" alt=""></a></div>
            <div class="book_box_description">
                <div class="book_box_title">이것이 C#이다</div>
                <div class="book_box_price">35,000원</span></div>
            </div>
        </div>
        <div class="book_box">
            <div class="book_box_img"><a href=""><img src="../img/book2.png" alt=""></a></div>
            <div class="book_box_description">
                <div class="book_box_title">이것이 C#이다</div>
                <div class="book_box_price">35,000원</span></div>
            </div>
        </div>
    </div>
    <div id="popup">

    </div>

</body>
</html>