<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>popup</title>
    <link rel="stylesheet" href="../static/popup.css">
</head>
<body>

    <div id="popup_container">
        <div id="popup_box">
            <div id="popup_img"></div>
            <div id="popup_title">이것이 C#이다</div>
            <div id="popup_seller"><div>판매자</div> 박영호</div>
            <div id="seller_contract"><div>연락처</div> 010-8285-5136</div>
            <div id="book_preservation"><div>사용기간</div> 6개월</div>
            <div id="comment">
                <div>한줄평</div>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div id="close_btn">닫기</div>

        </div>
    </div>
</body>
</html>